# Data Science Tools and Examples

In [3]:
## Introduction
#|This notebook demonstrates basic arithmetic operations and showcases various data science tools, libraries, and languages.

In [7]:
# Data Science Languages
#1. Python
#2. R
#3. SQL

In [8]:
## Data Science Libraries
# 1. Pandas
# 2. Numpy
# 3. Matplotlib

In [10]:
## Data Science Tools
# | Tool          | Purpose                    |
# |---------------|----------------------------|
# | Jupyter       | Interactive notebooks       |
# | Pandas        | Data manipulation           |
# | Matplotlib    | Data visualization          |
# | Scikit-learn  | Machine learning            |

In [11]:
## Arithmetic Expressions
# In this section, we will perform some basic arithmetic operations using Python.

In [12]:
# Multiplying and adding numbers
num1 = 10
num2 = 20
result = num1 * num2 + 30
result

230

In [13]:
# Converting minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

In [15]:
## Objectives
# - Learn basic arithmetic operations in Python.
# - Understand the tools and libraries used in data science.
# - Apply basic data science operations in a Jupyterlite notebook.

In [17]:
## Author Details
Name = "G Karthik"